Source: libapache-mod-waklog
Section: web
Priority: optional
Maintainer: Jacob Welsh <jwelsh@sinenomine.net>
Build-Depends: apache2-prefork-dev, libkrb5-dev, autoconf,
 automake, libopenafs-dev
Standards-Version: 3.6.1

Package: libapache2-mod-waklog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  AFS Authentication for Apache2

