#!/usr/bin/make -f
# -*- makefile -*-

CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

default:binary

apache20:
	dh_testdir
	chmod +x regen.sh
	./regen.sh
	./configure \
	  --with-afs-libs=/usr/lib/afs \
	  --with-afs-headers=/usr/include/afs \
	  --with-apxs=/usr/bin/apxs2
	make clean
	$(MAKE)
	mv .libs/mod_waklog.so .; true
	dh_installdirs
	mkdir -p debian/libapache2-mod-waklog/usr/lib/apache2/modules/
	mkdir -p debian/libapache2-mod-waklog/etc/apache2/mods-available
	cp mod_waklog.so debian/libapache2-mod-waklog/usr/lib/apache2/modules/
	cp debian/waklog.load debian/libapache2-mod-waklog/etc/apache2/mods-available

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp .libs
	-$(MAKE) clean
	dh_clean  --exclude ./_darcs/current/Makefile.orig --exclude ./Makefile.orig

binary-indep:

binary-arch: apache20
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
