#!/usr/bin/make -f
# -*- makefile -*-

CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

build-apache2:
	dh_testdir
	chmod +x regen.sh
	./regen.sh
	./configure \
	  --with-afs-libs=/usr/lib/afs \
	  --with-afs-headers=/usr/include/afs \
	  --with-apxs=/usr/bin/apxs2
	make clean
	$(MAKE)
	mv .libs/mod_waklog.so .; true
	dh_installdirs
	mkdir -p debian/libapache2-mod-waklog/usr/lib/apache2/modules/
	mkdir -p debian/libapache2-mod-waklog/etc/apache2/mods-available
	cp mod_waklog.so debian/libapache2-mod-waklog/usr/lib/apache2/modules/
	cp debian/waklog.load debian/libapache2-mod-waklog/etc/apache2/mods-available
	touch build-apache2

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp .libs
	[ ! -f Makefile ] || $(MAKE) clean
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f aclocal.m4 configure compile install-sh missing Makefile.in mod_waklog.la mod_waklog.so
	dh_clean  --exclude ./_darcs/current/Makefile.orig --exclude ./Makefile.orig

build: build-indep build-arch
build-indep:
build-arch: build-apache2

binary: binary-indep binary-arch
binary-indep: build-indep
binary-arch: build-arch
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary build-indep build-arch
